@font-face {
    font-family: 'San Francisco';
    src: url(/assets/fonts/SFUIText/SFUIText-Regular.otf);
}

/* General Components */

html{
    font-family: "San Francisco", Arial, serif;
    background-color: white;
}

body{
    overflow: visible;
    width: auto;
    height: auto;
    border-radius: 4px;
}

.outer-wrapper {
    min-width: 350px;
    width: auto;

}

.inner-wrapper {
    margin: 0.5em 0 0.5em 0;
}

/* Text Formatting/Box */

#text-wrapper{
    margin: 0.5em 0 0.5em 0;
}

.text-area {
    color: black;
    padding: 10px;
    margin: 0 0.5em 0 0;
    border: #2e3440 solid 2px;
    border-radius: 4px;
    background-color: #eceff4;
    font-size: 18px;
    width: auto;
}

#text-formatting-pane{
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
    padding: 10px;
    border: #2e3440 solid 2px;
    border-radius: 4px;
    background-color: #eceff4;
    color: black;
}

.inverted{
    -webkit-filter:invert(100%);
}

#text-formatting-pane button::before{
    float: left;
}

button{
    border-radius: 4px;
    height: 33px;
    padding: 0.5em;
    font-size: 15px;
    background-color: #0060df;
    color: white;
    border-color: transparent;
}

button > * {
    pointer-events: none;
}

.major{
    min-width: 135px;
    width: auto;
    padding: 0.25em;
}

button:active{
    -webkit-filter:invert(100%);
}
